---
import Logo from '../components/Logo.astro';
---

<header id="header-nav" class="fixed w-screen py-4 z-50 top-0 px-4 sm:px-8 md:px-0">
  <div class="grid grid-cols-3 max-w-7xl mx-auto items-center justify-between">
    <a href="/" class="col-span-1">
      <Logo class="w-8 sm:w-12" />
    </a>
    <nav class="col-span-1 justify-self-center">
      <ul class="flex gap-16 sm:gap-16">
        <!-- <li>
          <a href="#" class="hover:underline text-sm sm:text-base">SOMOS</a>
        </li>
        <li> -->
          <a href="#contacto" class="hover:underline text-sm sm:text-base">CONTACTO</a>
        </li>
      </ul>
    </nav>
    <a href="https://api.whatsapp.com/send?phone=+5491166085955text=Bienvenido%20a%20%20BIORN.%20Dejame tu mensaje%20y%20me%20comunicaré%20a%20la%20brevedad.%20Saludos!" target="_blank" class=" rounded-full inline-block border-white px-4 py-2 justify-self-end hover:bg-white hover:text-black duration-300 text-sm sm:text-base">
      <img src="/public/whatsapp.png" class="w-10 h-10"  alt="wsp">
    </a>
  </div>
</header>

