---
import Logo from "./Logo.astro";
---

<section class=" text-xl text-left px-20 max-w-[70ch] text-pretty mx-auto my-24">
    <!-- <img class=" w-16 mb-10 w-auto  " src="/logopng.png" alt="Logo biorn" > -->
    <Logo></Logo>

    <h1 class=" text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">
        BIENVENIDOS <br> A <br> BIORN 
    </h1>
    <p>Transformamos tus espacios en obras de arte. Nuestra pasión por la <strong>pintura</strong> y las <strong>refacciones</strong> se refleja en cada proyecto, donde la calidad y el detalle son nuestra máxima prioridad. </p>

    <p>No solo <strong>reparamos veredas</strong>, sino que también construimos caminos hacia un futuro más sólido. Confía en nosotros para darle vida y seguridad a tus espacios exteriores. </p>

    <p>Protegemos tus sueños de las inclemencias del tiempo. Nuestra <strong>impermeabilización con poliuretano</strong> garantiza que tu edificio se mantenga seguro y seco durante años. </p>

    <p>Convertimos tus ideas en realidad. Nuestro <strong>equipo experto en remodelaciones</strong> trabaja contigo para crear espacios que reflejen tu estilo y personalidad.</p>

    <p>Nuestra <strong>experiencia en obra civil</strong> e industrial garantiza resultados que perduran en el tiempo.</p>

</section>