

<div class="w-full relative aspect-w-16 aspect-h-9 md:aspect-w-4 md:aspect-h-3 lg:aspect-w-16 lg:aspect-h-9">
    <video 
        class="w-full h-full object-cover object-center"
        src="/ejemplovideo.mp4"
        autoplay
        loop
        muted
    ></video>
</div>
